.contenedor{
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    background: rgba(242,242,242, .5);
    border-radius: 10px;
    box-shadow: 1px 0 4px rgb(0,0,0,.5);
}
.contenedor .encabezado{
    text-align: center;
}
.contenedor  h1{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: black;
    text-align: center;
}
.contenedor h3{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #232a2c;
    text-align: center;
}
.contenedor .elemento label{
    color: black;
}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #232a2c;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(3, 1, 1);
    margin-bottom: 30px;
}
.contenedor .elemento input[type="submit"]{
    background-color: rgb(16, 16, 32);
    border-radius: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #cccccc;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    
}

section button:hover{
    border: 2 px solid black;
}
body {
    background-color: #bbb7b7;
    
  }
