#container{
    width: 100%;
    display: block;
    background: none;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(108, 138, 121);
    width: 565px;
    height: auto;
    margin: auto;
    font-size: 17.5px;
}

.element{
    margin: 0 2.5px;
    margin-top: 7.5px;
    font-size: 17.5px;
    border-radius: 5px;
    height: 30px;
}

.form{
    
    width: 565px;
    height: auto;
    border-radius: 5px;
    padding-bottom: 5px;
}

#forms{
    display: block;
}