#container{
    width: 100%;
    display: block;
    background: none;
}

div{
    display: flex;
    justify-content: center;
    background:rgb(108, 138, 121);
    width: 565px;
    height: auto;
    margin: auto;
}

.element{
    margin: 0 2.5px;
    margin-top: 7.5px;
    font-size: 17.5px;
    border-radius: 5px;
    height: 30px;
}

#form{
    display: flex;
    justify-content: center;
    width: 565px;
    height: auto;
    
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

#btnsearch{
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

li{
    list-style: none;
    
}

#list{
    display: block;
}

ol{
    margin:0;
}

button{
    background-image: url('https://img1.freepng.es/20180920/eqx/kisspng-computer-icons-editing-portable-network-graphics-i-edit-profile-svg-png-icon-free-download-194863-5ba3457963b929.9651381015374268094085.jpg');
    background-size: cover;
}