.profile{    
    text-align: left;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 5px rgba(1, 46, 77, 0.5);    
    width: 350px;    
    background-color: #eefbfd;

}
.profile-picture{
    height: 40px;
    float: left;
    margin: 15px; 
    border-radius: 20px;
       
}